@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hanalei-fill-regular {
  font-family: "Hanalei Fill", system-ui;
  font-weight: 400;
  font-style: normal;
}


